* {
	padding: 0;
	margin: 0;
}

html, body{
	height: 100%
}

body {
	min-width: 900px;
	overflow: scroll;
}

#header img {
	margin-left: 14px;
	margin-top: 22px;
	margin-right: 15px;
	width: 120px;
	height: 44px;
	display: inline-block;
}

#logo {
	display: inline;
}

#search-bar {
	display: inline-block;
	position: absolute;
	top: 18px;
	width: 612px;
}

#buttons-top {
	float: right;
}

/*#header {
	height: 64px;
}

.header-child {
	display: inline-block;
}

#logo {	
	height: 100%;
}

img {
	height: 44px;
	padding-top: 20px;
	padding-left: 13px;
	padding-right: 10px;
}

#search-bar {
	left: 143px;
	height: 100%;

}

#search-box {
	width: 632px;
}

#buttons-top {
	height: 100%;
}*/